*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-extrasmall: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --color-font: #ffffff;
  --color-body: #262833;
  --color-border: #ffffff33;
  --color-1: #43454d;
  --color-2: #e3ece6;
  --color-3: #6c727f;
  --color-4: #e4d6f3;
  --color-5: #f5ddc8;
  --color-6: #73b06f;
  --color-7: #a686c4;
  --color-8: #e9ae79;
  --balance-padding: min(1.5rem, 5%);
}

html {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: var(--color-font);
}

body {
  background-color: var(--color-body);
}

/* HEADER LAYOUT */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.user__avatar,
.user__avatar__img {
  width: 2rem;
  height: auto;
}

/* MAIN GRID LAYOUT */
main {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Must be changed later */
  grid-template-rows: auto;
  grid-template-areas: "navigation inventory card";
}

/* NAVIGATION LAYOUT */
.navigation {
  padding: 1rem;
  grid-area: navigation;
}
.navigation__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}
.navigation__title {
  margin: 2rem 0 1.2rem;
}
.navigation__item__icon {
  width: 1.25rem;
  height: auto;
}

/* INVENTORY LAYOUT */
.inventory {
  grid-area: inventory;
}
.balance {
  width: 100%;
  height: 9rem;

  display: flex;

  border-radius: 1rem;
  overflow: hidden;
}
.balance-left {
  padding: var(--balance-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  background-color: var(--color-2);
}
.balance-right {
  padding: var(--balance-padding);
  display: flex;
  justify-content: end;
  align-items: end;

  background-color: var(--color-6);
  background-image: url(resources/background-decor.svg);
  background-position: right;
  background-repeat: no-repeat;
}
.balance-left,
.balance-right {
  width: 100%;
}
.balance__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

  background-color: var(--color-2);
  border-radius: 1em;
  padding: 0.3em 1em;
}
/* MODULES */
picture,
img {
  display: block;
}

/* TYPOGRAPHY */
.user__name,
.navigation__item__text,
.balance__title,
.balance__cards,
.balance__details {
  font-size: var(--font-size-small);
}
.user__name,
.navigation__item__text {
  font-weight: var(--font-weight-regular);
}
.balance__title,
.balance__cards,
.balance__details {
  font-weight: var(--font-weight-medium);
}

.navigation__title {
  font-size: var(--font-size-extrasmall);
  color: var(--color-2);
  font-weight: 200;
}
.navigation__item {
  text-decoration: none;
  color: var(--color-font);
}
.balance {
  color: var(--color-body);
}
.money {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}
